<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="pchool" class="Spring_learning.day02.demo6.PrivateSchool" >
        <property name="name" value="哈弗大学"/>
        <property name="address" value="美国马萨诸塞州波士顿都市区剑桥市"/>
    </bean>

</beans>